.contacts{
    width: 100%;
    height: auto;
    background-image: url(../../images/contact\ bg\ img.jpg);
    background-size:100% fullscreen;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
.contacts .contactimg{
    width: 100%;
    height:400px;
}
.sendmessage{
    background-image: url(../../images/contact\ bg\ img.jpg);
    background-size:100% fullscreen;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;


}
@media screen and (max-width:764px) {
    .contacts .contactimg{
        width: 100%;
        height:200px;
    }
    
}